ul > a:first-child > li {
    background-color: #fff;
    color: teal;
}

main {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container {
    width: 100%;
    padding: 10px 0 10px;
    background-color: teal;
}

#user-fullname {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

#user-fullname > p {
    display: inline;
    font-size: 30px;
    font-weight: 600;
}

#user-fullname > p:not(p:last-child) {
    margin-right: 10px;
}

hr {
    width: 100%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 3px solid #fff;
}

#info-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

p, span {
    font-size: 18px;
    color: #fff;
}

#btn-open {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: teal;
    background-color: #fff;
    transition: .7s all;
}

#btn-open:hover {
    color: #fff;
    background-color: teal;
    border: 2px solid #fff;
    user-select: none;
    cursor: pointer;
}

form {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: 4px solid teal;
    background-color: #fff;
}

h1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: teal;
    user-select: none;
}

.input-container {
    width: 100%;
    text-align: center;
}

input:not(input[type="submit"]) {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid teal;
    font-size: 20px;
    color: teal;
}

input[type="submit"],
#btn-close {
    display: block;
    width: 250px;
    height: 35px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    transition: all .7s;
}

input[type="submit"]:hover,
#btn-close:hover {
    border: 2px solid teal;
    background-color: white;
    color: teal;
    cursor: pointer;
}

#btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
